/my-backend/nbproject/private/
/my-backend/node_modules
/my-backend/public
/my-backend/package-lock.json
/my-app/dist
/my-app/node_modules
/my-app/package-lock.json
/my-backend-servicios/nbproject/private/
/my-backend-servicios/node_modules
/my-backend-servicios/public
/my-backend-servicios/package-lock.json